<style>
body{
	margin:0;
}
.slantedDiva{
	position:relative;
	width:100%;
	height:600px;
	background: #f2ae30;
	/*border-radius: 25px;*/
}
.slantedDiva:after
{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index:-1;
<<<<<<< Updated upstream
	/*border-radius: 25px;*/
	
=======
	
	transform: skewY(-4deg);
>>>>>>> Stashed changes

}

.slantedDiva1{
	position:relative;
	width:100%;
	height:600px;
	background: #aff2f0;
	/*border-radius: 25px;*/
}
.slantedDiva1:after
{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index:-1;
	/*border-radius: 25px;*/
	
}

/* Diagonal stacked paper effect */
.paper {
  background-color: #f6c770;
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 20px;
  /*border-radius: 25px;*/
}

.paper,
.paper::before,
.paper::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
 /* border-radius: 25px;*/
		

}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fbe6c0;
  /*border-radius: 25px;*/
 

}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
	

}

/* Third sheet of paper */
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
  /*border-radius: 25px;*/


}

/* Diagonal stacked paper effect */
.paper1 {
  background-color: #ccf7f5;
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 20px;
  /*border-radius: 25px;*/
}

.paper1,
.paper1::before,
.paper1::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  /*border-radius: 25px;*/
		

}

.paper1::before,
.paper1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ccf7f5;
  /*border-radius: 25px;*/
 

}

<<<<<<< Updated upstream
/* Second sheet of paper */
.paper1::before {
  left: 7px;
  top: 5px;
  z-index: -1;
  /*border-radius: 25px;*/
	
=======
/* Diagonal stacked paper effect */
.paper {
  background-color: #f6c770;
  /* Need position to allow stacking of pseudo-elements */
  position: relative;
  /* Padding for demo purposes */
  padding: 30px;
}

.paper,
.paper::before,
.paper::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
		transform: skewY(-4deg);

}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fbe6c0;
  	transform: skewY(-4deg);

}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
	transform: skewY(-4deg);
>>>>>>> Stashed changes

}

/* Third sheet of paper */
<<<<<<< Updated upstream
.paper1::after {
  left: 12px;
  top: 10px;
  z-index: -2;
/*border-radius: 25px;*/
=======
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
	transform: skewY(-4deg);
>>>>>>> Stashed changes

}