body{
	margin: 0;
	padding: 0;
	
}
ul{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	width: 600px;
	height: 150px;
}
ul li{
	list-style: none;
	position: absolute;
	width: 200px;
	height: 200px;
	background: #000;
	transform: rotate(45deg);
	margin: -100px;
	transition: 0.5s ;
	overflow: hidden;
	opacity: 0.5;
}
ul li:hover{
	opacity:1;
}
ul li.item1{
	top: 0;
	left: 0;
}
ul li.item2{
	bottom: 0;
	left: 25%;
}
ul li.item3{
	top: 0;
	left: 50%;
}
ul li.item4{
	bottom: 0;
	left: 75%;
}
ul li.item5{
	top: 0;
	left: 100%;
}
ul li .bg{
	height: 100%;
	width: 100%;
	transform: rotate(-45deg) scale(1.0);
}
ul li.item1 .bg{
	background: url(img/speakers/1.png);
	background-size: cover;
}
ul li.item2 .bg{
	background: url(img/speakers/2.png);
	background-size: cover;
}
ul li.item3 .bg{
	background: url(img/speakers/3.png);
	background-size: cover;
}
ul li.item4 .bg{
	background: url(img/speakers/4.png);
	background-size: cover;
}
ul li.item5 .bg{
	background: url(img/speakers/seaker5.png);
	background-size: cover;
}
html, body {
  background: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 270px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -540;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -140px;
  margin-left:75px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}