{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %}

    <!-- slider_area_start -->
    <section class="sec1" id="home">
        <div class="slider_area slider_bg_1" id="svg">
        <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>EVENTS <br>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
 </section>
<section class="sec2" id="events">
        <div class="event_area">
            <h1><br><br></h1>
            <h1 class="vr_text d-none d-lg-block">Event Schedule</h1>
            <div class="container">
                <h1>Events Schedule</h1>
                <div class="double_line">
                    <div class="col-xl-9 col-lg-9" style="align-self: center;display: contents;">
                        <div class="single_speaker">
                            <img src="http://www.msctiet.co.in/assets/makeathon.png" alt="" width="20%" height="20%">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>MAKEATHON</span>
                                    <div class="time">
                                        22-23rd FEB 2020
                                    </div>
                                </div>
                                <p style="text-align: justify;">India, a nation projected to drive the global production in span of 10 years, is facing many issues and computer science and IOT serves as the o to solution for many of these issues. Our hackathon looks to harness the power of amazing developers and the world of open source to develop state of the art to few problems. Our hackathon aligns with the mission and vision of Make in india and prime minister's Digital India Campaign. The hackers will be required to present a viable prototype of the solution they are building.</p>
                                <a href="#" class="genric-btn danger circle">Visit the website</a>
                            </div>
                        </div>

                        <div class="single_speaker">
                            <img src="{% static 'img/Hactoberfest.jpeg' %}" alt="" width="20%" height="20%">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>HACKTOBER FEST</span>
                                    <div class="time">
                                        12-18th OCT 2019
                                    </div>
                                </div>
                                <p style="text-align: justify;">The biggest open source event of 2019 is back with a bang!
                                    Hacktoberfest'19 is on the roll again and this time it's going to be much bigger, better and
                                    magnificent than your wildest dreams!
                                    <br>
                                    Celebrate open source with us at Microsoft Student Chapter and get adrift amongst the divine
                                    world of technology.
                                    <br>
                                    Lots of Fun events, workshops, Goodies, prizes and other cool stuff awaits you as this tech
                                    bonanza begins! So let's dive into the world of open source together and get close to
                                    technology more than ever before! </p>
                                <a href="#" class="genric-btn danger circle">Visit the website</a>
                            </div>
                        </div>
                        <div class="single_speaker">
                            <img src="http://www.msctiet.co.in/assets/MSC%20Logo.png" alt="" width="20%" height="20%">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>TECHMEET</span>
                                    <div class="time">
                                        27th AUG 2019
                                    </div>
                                </div>
                                <p style="text-align: justify;">Everything seems black and white to the beginners.Hence, giving the right vision is the right step for the right start.<br>To provide young minds a kickstart for the technical journey MSC brings 'MSC techmeet' </p>
                                <a href="#" class="genric-btn danger circle">Visit the website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- faq_area_end -->

    {% block endjs%}
    {% endblock %}
{% endblock %}
