{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block body %}
<section class="sec1" id="home">
        <div class="slider_area slider_bg_1" id="svg">
        <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>REGISTER NOW!! <br>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
 </section>
<h2> REGISTRATION SUCCESSFULL!!</h2>