#love-font{
    font-family: 'Charm', cursive;
}
#love1 {
    
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #808080;
    text-align: center;
    line-height: 65px;
    cursor: pointer
  }
  #love1 i {
    color: hsl(0, 23%, 22%);
  }
  #love1:hover i {
    -webkit-animation: heartbeat .5s infinite linear;
    -moz-animation: heartbeat .5s infinite linear;
    animation: heartbeat .5s infinite linear;
  }
  @-webkit-keyframes heartbeat {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      transform: scale(.5);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @-moz-keyframes heartbeat {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      transform: scale(.5);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes heartbeat {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      transform: scale(.5);
    }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }

  

