{% extends 'members/main.html' %}

{% block body %}
<body>
<center><H1>CORE</H1></center>
<div class="button-group">
      <a href="{% url 'secretaries' %}" class="btn btn-primary btn-md btn-trim" role="button"> Secretaries</a>

      <a href="{% url 'core' %}" class="btn btn-primary btn-md btn-trim" role="button"> Core</a>

      <a href="{% url 'exec' %}" class="btn btn-primary btn-md btn-trim" role="button"> Executives</a>

    </div>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Pic</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for c in core %}
      <tr>
        <td>{{c.name}}</td>
        <td>{{c.designation}}</td>
        <td><img src = "{{c.photourl}}" ></td>
      </tr>
    {% endfor %}
    </tbody>
 </table>
</body>
{% endblock %}