<!doctype html>
<html class="no-js" lang="zxx">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Microsoft Student Chapter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block body %}
<body>

<center><H1>SECRETARIES</H1></center>
<div class="button-gro
up">
      <a href="{% url 'secretaries' %}" class="btn btn-primary btn-md btn-trim" role="button"> Secretaries</a>

      <a href="{% url 'core' %}" class="btn btn-primary btn-md btn-trim" role="button"> Core</a>

      <a href="{% url 'exec' %}" class="btn btn-primary btn-md btn-trim" role="button"> Executives</a>

    </div>
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Pic</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for s in sec %}
      <tr>
        <td>{{s.name}}</td>
        <td>{{s.designation}}</td>
        <td><img src = "{{s.photourl}}" ></td>
      </tr>
    {% endfor %}
    </tbody>
 </table>
</body>
{% endblock %}