{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block body %}
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block">CONFIRENCE</h1>
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>Gallery <br>
                                </h3>
                                <a href="#" class="boxed-btn-white">Add to your Calendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="container">

        <h1 class="heading">Gallery</h1>

        <div class="gallery">
            {% for gl in gall %}
            <div class="gallery-item">
                <img class="gallery-image" src="{{gl.picurl}}" alt="image">
            </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}