{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}
{% block body %}
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block">CONFIRENCE</h1>
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>Gallery <br>
                                </h3>
                                <a href="#" class="boxed-btn-white">Add to your Calendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="container">

        <h1 class="heading">Gallery</h1>

        <div class="gallery">
            {% for g in gal %}
            <div class="gallery-item">
                <img class="gallery-image" src="{{g.picurl}}" alt="image">
            </div>
            {% endfor %}
         </div>

        </div>
        <div class="container">
        <br>
        <ul class="pagination modal-1">
             {% if gal.has_previous %}
            <li><a href="?page=1" class="prev"> << </a></li>
            <li><a href="?page={{ gal.previous_page_number }}" class="prev"> < </a></li>
            {% endif %}
            {% for num in gal.paginator.page_range %}

            {% if gal.number == num %}
            <li><a href="?page={{ num }}" class="active">{{ num }}</a></li>
            {% elif num > gal.number|add:'-3' and num < gal.number|add:'3' %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}

            {% endfor %}
            {% if gal.has_next %}
            <li><a href="?page={{ gal.next_page_number }}" class="next">></a></li>
            <li><a href="?page={{ gal.paginator.num_pages }}" class="next"> >> </a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}