{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %}

    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block">CONFIRENCE</h1>
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>Microsoft <br>
                                    Student <br>
                                    Chapter</h3>
                                <a href="#" class="boxed-btn-white">Add to your Calendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- event_area_start -->
    <div class="event_area">
        <h1><br></h1>
        <h1 class="vr_text d-none d-lg-block">Event Schedule</h1>
        <div class="container">
            <h1>Events Schedule</h1>
            <div class="double_line">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="date">
                            <h3>08 Sep 2019</h3>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="single_speaker">
                            <img src="img/speakers/seaker1.png" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Jonson Miller</span>
                                    <div class="time">
                                        10-11 am
                                    </div>
                                </div>
                                <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                        <div class="single_speaker">
                            <img src="img/speakers/seaker2.png" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Albert Jackey</span>
                                    <div class="time">
                                        12-1.00 pm
                                    </div>
                                </div>
                                <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                        <div class="single_speaker">
                            <img src="img/speakers/seaker3.png" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Alvi Nourin</span>
                                    <div class="time">
                                        2.30-4.00 pm
                                    </div>
                                </div>
                                <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="date">
                        <h3>09 Sep 2019</h3>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="single_speaker">
                        <img src="img/speakers/seaker4.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Marked Macau</span>
                                <div class="time">
                                    10-11 am
                                </div>
                            </div>
                            <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our let
                                god moving.
                                Moving in fourth air night bring upon you’re it beast let you dominion </p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker5.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Jonson Miller</span>
                                <div class="time">
                                    12-1.00 pm
                                </div>
                            </div>
                            <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our let
                                god moving.
                                Moving in fourth air night bring upon you’re it beast let you dominion </p>
                        </div>
                    </div>
                    <div class="single_speaker">
                        <img src="img/speakers/seaker6.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>Jonson Miller</span>
                                <div class="time">
                                    2.30-4.00 pm
                                </div>
                            </div>
                            <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our let
                                god moving.
                                Moving in fourth air night bring upon you’re it beast let you dominion </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event_area_end -->


    <!-- about_area_start -->
    <div class="about_area">
        <div class="shape-1 d-none d-xl-block">
            <img src="img/about/shap1.png" alt="">
        </div>
        <div class="shape-2 d-none d-xl-block">
            <img src="img/about/shap2.png" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-5">
                    <div class="about_thumb">
                        <img src="img/about/about.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title">
                            <span class="sub_heading">About</span>
                            <h3>Microsoft Student Chapter</h3>
                        </div>
                        <p style="text-align: justify;">Our set he for firmament morning sixth subdue darkness creeping gathered divide our let god.
                            moving. Moving in fourth air night bring upon you’re it beast.</p>
                        <a href="#" class="boxed-btn-red">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->



    <div class="about_area">
        <div class="shape-1 d-none d-xl-block">
            <img src="img/about/shap1.png" alt="">
        </div>
        <div class="shape-2 d-none d-xl-block">
            <img src="img/about/shap2.png" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-5">
                    <div class="about_thumb">
                        <img src="img/about/about.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title">
                            <span class="sub_heading"></span>
                            <h3>About Rana Sir</h3>
                        </div>
                        <p style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem obcaecati voluptates quam corporis, et autem vel aut iusto eveniet aliquid porro aperiam deserunt aspernatur! Quam vero doloribus possimus ut nemo?</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- speakers_start -->
    <div class="speakers_area">
        <h1 class="horizontal_text d-none d-lg-block">
            About Members
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            About Members
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/1.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Jonson Miller</h3>
                            <p>Creative Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/3.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Albert Jackey</h3>
                            <p>Product Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/2.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Marked Macau</h3>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/1.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Kelvin Cooper</h3>
                            <p>Art Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            Reach Us
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-lg-8">
                    <div class="d-none d-sm-block mb-5 pb-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.931076207208!2d76.36136370029875!3d30.3529086608009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39102f534a87b5c5%3A0xda1d3ed337e382b3!2sThapar%20University%2C%20Prem%20Nagar%2C%20Patiala%2C%20Punjab%20147004!5e0!3m2!1sen!2sin!4v1572699284923!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Thapar Institute of Engineering and Technology</h3>
                            <p>Patiala, Punjab 147001</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+91 87270 95665</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>msc@thapar.edu</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}